<ion-header>
    <ion-toolbar color="primary">
    <!-- Move back one screen of the slides -->
    <ion-buttons slot="start">
      <ion-button fill="clear" color="danger" (click)="returnLogin()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-button color="secondary"  (click)="goVideo()">Ingresar <br>
      <!--<ion-button  (click)="routingIonic4()">Ingresar <br>-->  
      </ion-button>

</ion-content>
