
<ion-content class="main-view">

  <div class="overlay" (click)="closeModal()"></div>
  <div class="modal_content">
    <h1><span id="logodetalles"></span> Detalles de cita <ion-icon id="cerrarmodal" ios="md-close-circle" md="md-close-circle" (click)="closeModal()"></ion-icon></h1>

    <p class="detallecita"><span class="datocita"><ion-icon name="md-person"></ion-icon> Paciente:</span> {{data.nombre_completo_paciente}}</p>
    <p class="detallecita"><span class="datocita"><ion-icon name="ios-calendar"></ion-icon> Edad:</span> {{data.edad_paciente}} años</p>
    <p class="detallecita"><span class="datocita"><img id="sexicon" src="../../assets/img/sexo.svg"> Sexo:</span> {{data.Sexo}}</p>

    <p class="detallecita"><span class="datocita"><ion-icon name="clock"></ion-icon> Inicio consulta:</span><strong class="inicioconsulta">{{data.hora_inicio}}</strong></p>
    <p class="detallecita"><span class="datocita"><ion-icon name="time"></ion-icon> Fin consulta:</span><strong class="finconsulta">{{data.hora_fin}}</strong></p>
    <p class="detallecita"><span class="datocita"><ion-icon name="apps"></ion-icon> Tipo consulta:</span><strong>{{data.tipo_servicio}}</strong></p>
    <p class="detallecita" id="padecimiento"><span class="datocita"><ion-icon name="md-document"></ion-icon> Padecimiento:</span>{{data.padecimiento}}</p>
    <p class="detallecita"  id="detallescita"><span class="datocita"><ion-icon name="list"></ion-icon> Detalles:</span>{{data.detalles_cita}}</p>

    <div id="botonVideoconsulta">
        <!--<button ion-button outline item-end icon-right color="Primary" [hidden]="((data.tipo_servicio === 'Video asistencia') && (data.checkRango === 'true')) ? false : true" (click)="iniciarVideoconferencia()">Iniciar Video-Asistencia<br>-->
<!--        <ion-button outline item-end icon-right color="secondary" [hidden]="((data.tipo_servicio === 'Video asistencia') && (data.checkRango === 'true')) ? false : true" (click)="iniciarVideoconferencia()">Iniciar Video-Asistencia<br>  -->
<!-- <ion-button outline item-end icon-right color="secondary" [hidden]="((data.tipo_servicio === 'VideoAsesoria') && (data.checkRango === 'true')) ? false : true" (click)="iniciarVideoconferencia()">Iniciar Video-Asistencia<br>-->
  <!--<ion-button outline item-end icon-right color="secondary" [hidden]="data.checkRango == 'true' ? false : true" (click)="iniciarVideoconferencia()">Iniciar Video-Asistencia<br>-->
        <ion-button outline item-end icon-right color="secondary" [hidden]="statusmostrarBotonVideoAsistenia ? false : true" (click)="iniciarVideoconferencia()">Iniciar Video-Asistencia<br>
        <ion-icon name="ios-videocam"></ion-icon>
      </ion-button>
    </div>
<!--
    <ion-fab>
      <ion-fab-button>
          <ion-icon name="md-calendar" large></ion-icon>
       </ion-fab-button>
       <ion-fab-list id="modificarcita" side="top"> 
        <ion-fab-button class="option" color="danger" (click)="eliminarCita()" ><ion-label>Cancelar cita</ion-label><ion-icon name="ios-trash"></ion-icon></ion-fab-button>                              
      </ion-fab-list>
    </ion-fab>
-->

    <ion-fab vertical="bottom" horizontal="end">
      
      <ion-fab-button vertical="bottom" horizontal="end">
        <ion-icon name="md-calendar"></ion-icon>
      </ion-fab-button>
  
      <ion-fab-list>

        <ion-fab-button id="eliminarcita" (click)="eliminarCita()">
          <ion-icon name="ios-trash"></ion-icon>
        </ion-fab-button>
        <ion-label>Cancelar cita</ion-label>
   
      </ion-fab-list>
    </ion-fab>

  </div>
  
</ion-content>